<div class="it-header-slim-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-header-slim-wrapper-content">
          <a class="d-none d-lg-block navbar-brand" href="{{ site.ownerlink }}">{{ site.owner }}</a>
          <div class="nav-mobile">
            <nav>
              <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu1" role="button" aria-expanded="false" aria-controls="menu1">
                <span>{{ site.owner }}</span>
                <svg class="icon">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use>
                </svg>
              </a>
              <div class="link-list-wrapper collapse" id="menu1">
                <ul class="link-list">
                  {% for link in site.links %}
                    <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                  {% endfor %}
                  <li class="d-lg-none"><a href="{{ site.ownerlink }}">{{ site.owner }}</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="header-slim-right-zone">
            {% include header/header-lang-switch.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
